@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .logo-size {
    width: clamp(24px, 4vw, 40px);
  }
}

body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: #1c1c1f;
}

.light {
  background-color: #f4efef;
}
