@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #eb0573;
    --secondary: #3f436a;
    --light-hard: #eae3e3;
    --light-medium: #f4efef;
    --light: #fcfcfc;
    --moon: 0;
    --sun: 1;
  }

  .dark {
    --secondary: #fcfcfe;
    --light-hard: #111214;
    --light-medium: #1c1c1f;
    --light: #272721;
    --moon: 1;
    --sun: 0;
  }

  body {
    @apply bg-light-medium;
  }

  input::placeholder {
    color: #9c89a2;
  }
}

@layer utilities {
  .w-clamp {
    width: clamp(24px, 4vw, 40px);
  }
}
